[Desktop Entry]
Type=Application
Name=ServoQ
GenericName=Web Browser
Comment=Servo Qt Widgets browser shell
Exec=servoq %U
Icon=servoq
Terminal=false
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
StartupWMClass=servoq
